<a href="https://colab.research.google.com/github/samurk3/EXP-3-WEB-TECHNOLOGY/blob/main/EX_1_URK20CS2060_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EXP** - **1**

NAME : SAMUEL KENNEDY

REG NO: URK20CS2060

## QUESTION SET 2                                                                                               URK20CS2060

In [ ]:
#1.


n = int(input("Number of subjects"))
temp = dict(input("Enter the sub_code and sub_name: ").split() for s in range(n))

identify = input("Enter the sub_code to identify")
for i in range(len(temp)):
    if identify in temp.keys():
        print(temp[identify])
        break
    else:
        print("sub_name not available!!")

Number of subjects3
Enter the sub_code and sub_name: 1 webtech
Enter the sub_code and sub_name: 2 ids
Enter the sub_code and sub_name: 3 database
Enter the sub_code to identify2
ids

In [ ]:
#2

n = int(input('Enter the numbe of words to insert: '))
temp2 = [input(f"Enter the words: ") for _ in range(n)]
k = int(input("Enter n: "))

for i in temp2:
    if len(i) >= k:
        print(i[::-1])

Enter the numbe of words to insert: 3
Enter the words: samuel
Enter the words: kennedy
Enter the words: programmer
Enter n: 3
leumas
ydennek
remmargorp

In [ ]:
#3 

c1 = int(input("Enter the range of set 1: "))
set1 = set(input("Enter set 1: ") for i in range(c1))
c2 = int(input("Enter the range of set 2: "))
set2 = set(input("Enter set 2: ") for _ in range(c2))

print("Union: ", set1.union(set2))
print("Intersection: ", set1.intersection(set2))
print("Difference: ", set.difference(set2))

Enter the range of set 1: 3
Enter set 1: fire
Enter set 1: onthe
Enter set 1: whole
Enter the range of set 2: 3
Enter set 2: sprint
Enter set 2: rock
Enter set 2: bold
Union:  {'onthe', 'rock', 'whole', 'bold', 'fire', 'sprint'}
Intersection:  set()
Difference:  {'rock', 'sprint', 'bold'}

In [ ]:
#4

n = int(input("Enter the number of values: "))
temp = tuple(input("Enter some values: ") for _ in range(n))
count = 0
search = input("Enter the element you want to count: ")
for i in temp:
    if i == search:
        count+=1

print(count)

Enter the number of values: 2
Enter some values: 0
Enter some values: 6
Enter the element you want to count: 0
1

In [ ]:
#5

import numpy as np

array_1 = np.array([[5, 6, 7],
                    [1, 2, 3]])
array_2 = np.array([[2, 1, 7],
                    [4, 9, 1]])

sub = np.subtract(array_1, array_2)
mul = np.multiply(array_1, array_2)

print("Subtracted: ", sub)
print("Multiplied: ", mul)

Subtracted:  [[ 3  5  0]
 [-3 -7  2]]
Multiplied:  [[10  6 49]
 [ 4 18  3]]

In [ ]:
#6

import pandas as pd

data = pd.read_csv(r"https://raw.githubusercontent.com/kb22/Heart-Disease-Prediction/master/dataset.csv")

data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1